body{
    font-size: 16px;
}

.container{
    width: 70%;
    margin: 2em auto;
    border: 1px solid black;
    border-radius: 10%;
}

#cabecera{
    width: 30%;
    margin: 5px auto;
    border: 2px solid black;
    border-radius: 30px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

h1{
    text-decoration:underline;
}

.parr {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}